.helsing-three-plugins-infotool {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    /* min-width: 140px;  */
    /* height: 60px;  */
    user-select: none;
    pointer-events: none;
    color: #ffffff;
}
.helsing-three-plugins-infotool > div:nth-child(1) {
    left: -11px;
    height: 0;
    /* bottom: 0;  */
    /* background: url("popup_line.png") no-repeat center 100%;  */
    /* background: #ffffff; */
    margin-top: 25px;
    height: 1px;
    width: 48px;
    transform: rotate(-30deg);
    border-top: 2px #184F93 solid;
    position: absolute;
    top: 42px;
}
.helsing-three-plugins-infotool > div:nth-child(2) {
    width: 320px;
    opacity: 0;
    padding: 10px 10px 26px 10px;
    background: rgba(5, 40, 92, 0.7);
    border-radius: 10px;
    user-select: text;
    pointer-events: auto;
    margin-left: 31px;
    text-align: left;
}

.popTitle{
    width: 288px;
    height: 34px;
    font-size: 20px;
    font-family: FontquanXinYiGuanHeiTi;
    font-weight: 400;
    color: #E3F0FF;
    border-bottom: 1px solid rgba(0, 187, 255, 0.5);
    margin-top: 0px!important;
    padding-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.pop-span{
    display: flex;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: FontquanXinYiGuanHeiTi;
    font-weight: 400;
    color: #E3F0FF;
    margin: 18px 2px 0 2px;
}
.pop-span .marker{
    width: 30px
}
.pop-span .label{
    width: 90px
}
.pop-span .value{
    max-width: 150px;
}
.pop-span:last-child{
    border-bottom: unset;
}
.popup-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pop-border {
    position: absolute;
    top: -3px;
    left: 31px;
    height: 256px;
}
.pop-close{
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 16px;
    cursor: pointer;
    color: #00BBFF;
}
.pop-btn button{
    width: 272px;
    height: 36px;
    background: linear-gradient(0deg, #015EEA 0%, #00BBFF 100%);
    border-radius: 18px;
    font-size: 16px;
    font-family: FontquanXinYiGuanHeiTi;
    font-weight: 400;
    color: #E3F0FF;

    line-height: 28px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.pop-img{
    height: auto;
    display: block;
}

.pop-img img{
    /* width: 274px; */
    width: 170px;
}
